<a href="https://colab.research.google.com/github/Kevin-Cutler/Final-Project/blob/main/Class_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [106]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [81]:
movies_df = pd.read_csv("/content/movies.csv")
movies_df.head(20)

                                              name  ... runtime
0                                      The Shining  ...   146.0
1                                  The Blue Lagoon  ...   104.0
2   Star Wars: Episode V - The Empire Strikes Back  ...   124.0
3                                        Airplane!  ...    88.0
4                                       Caddyshack  ...    98.0
5                                  Friday the 13th  ...    95.0
6                               The Blues Brothers  ...   133.0
7                                      Raging Bull  ...   129.0
8                                      Superman II  ...   127.0
9                                  The Long Riders  ...   100.0
10                           Any Which Way You Can  ...   116.0
11                          The Gods Must Be Crazy  ...   109.0
12                                          Popeye  ...   114.0
13                                 Ordinary People  ...   124.0
14                                 Dressed to Kill  ...   104.0
15                               Somewhere in Time  ...   103.0
16                                            Fame  ...   134.0
17                                          9 to 5  ...   109.0
18                                         The Fog  ...    89.0
19                                      Stir Crazy  ...   111.0

[20 rows x 15 columns]

In [82]:

top_4000_movies_df = pd.read_csv("/content/top_4000_movies_data.csv")
top_4000_movies_df.head(20)

   Release Date  ... Worldwide Gross
0     4/23/2019  ...      2797800564
1     5/20/2011  ...      1045713802
2     4/22/2015  ...      1395316979
3    12/16/2015  ...      2064615817
4     4/25/2018  ...      2044540523
5     5/24/2007  ...       960996492
6    11/13/2017  ...       655945209
7     10/6/2015  ...       879500760
8    12/18/2019  ...      1072848487
9     5/23/2018  ...       393151347
10     3/7/2012  ...       282778100
11    3/23/2016  ...       872395091
12   12/13/2017  ...      1331635141
13    7/11/2019  ...      1654367425
14   11/24/2010  ...       584899819
15     5/4/2007  ...       894860230
16    4/22/2016  ...      1151918521
17    7/15/2009  ...       929411069
18   12/12/2013  ...       959358436
19   12/10/2014  ...       940389558

[20 rows x 5 columns]

In [83]:
top_4000_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release Date       3979 non-null   object
 1   Movie Title        4000 non-null   object
 2   Production Budget  4000 non-null   int64
 3   Domestic Gross     4000 non-null   int64
 4   Worldwide Gross    4000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 156.4+ KB

In [84]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

In [85]:
movies_df.columns

Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')

In [86]:
movies_df.drop_duplicates(subset=['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],keep='last')

                                                name  ... runtime
0                                        The Shining  ...   146.0
1                                    The Blue Lagoon  ...   104.0
2     Star Wars: Episode V - The Empire Strikes Back  ...   124.0
3                                          Airplane!  ...    88.0
4                                         Caddyshack  ...    98.0
...                                              ...  ...     ...
7663                                    More to Life  ...    90.0
7664                                     Dream Round  ...    90.0
7665                                   Saving Mbango  ...     NaN
7666                                    It's Just Us  ...   120.0
7667                                       Tee em el  ...   102.0

[7668 rows x 15 columns]

In [87]:
top_4000_movies_df.columns

Index(['Release Date', 'Movie Title', 'Production Budget', 'Domestic Gross',
       'Worldwide Gross'],
      dtype='object')

In [88]:

top_4000_movies_df.drop_duplicates(subset=['Release Date', 'Movie Title', 'Production Budget', 'Domestic Gross','Worldwide Gross'], keep='last')

     Release Date  ... Worldwide Gross
0       4/23/2019  ...      2797800564
1       5/20/2011  ...      1045713802
2       4/22/2015  ...      1395316979
3      12/16/2015  ...      2064615817
4       4/25/2018  ...      2044540523
...           ...  ...             ...
3995    6/13/2067  ...       111600000
3996    6/10/1988  ...        14114000
3997   12/21/2016  ...       305149461
3998    3/19/2010  ...         5278632
3999   10/30/2009  ...          119955

[4000 rows x 5 columns]

In [89]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

In [90]:
top_4000_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release Date       3979 non-null   object
 1   Movie Title        4000 non-null   object
 2   Production Budget  4000 non-null   int64
 3   Domestic Gross     4000 non-null   int64
 4   Worldwide Gross    4000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 156.4+ KB

In [94]:
# Combine the data into a single dataset.
Merged_Movie_df = top_4000_movies_df.merge( movies_df,left_on='Movie Title', right_on='name')
Merged_Movie_df.head(100)

   Release Date              Movie Title  ...               company  runtime
0     4/23/2019        Avengers: Endgame  ...        Marvel Studios    181.0
1     4/22/2015  Avengers: Age of Ultron  ...        Marvel Studios    141.0
2     4/25/2018   Avengers: Infinity War  ...        Marvel Studios    149.0
3    11/13/2017           Justice League  ...          Warner Bros.    120.0
4     10/6/2015                  Spectre  ...                   B24    148.0
..          ...                      ...  ...                   ...      ...
95    5/22/2019                  Aladdin  ...  Walt Disney Pictures    128.0
96   11/11/1992                  Aladdin  ...  Walt Disney Pictures     90.0
97   11/11/1992                  Aladdin  ...  Walt Disney Pictures    128.0
98   10/25/2017           Thor: Ragnarok  ...  Walt Disney Pictures    130.0
99    5/28/2014               Maleficent  ...             Jolie Pas     97.0

[100 rows x 20 columns]

In [95]:
Merged_Movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3121 entries, 0 to 3120
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release Date       3121 non-null   object
 1   Movie Title        3121 non-null   object
 2   Production Budget  3121 non-null   int64
 3   Domestic Gross     3121 non-null   int64
 4   Worldwide Gross    3121 non-null   int64
 5   name               3121 non-null   object
 6   rating             3117 non-null   object
 7   genre              3121 non-null   object
 8   year               3121 non-null   int64
 9   released           3120 non-null   object
 10  score              3121 non-null   float64
 11  votes              3121 non-null   float64
 12  director           3121 non-null   object
 13  writer             3121 non-null   object
 14  star               3121 non-null   object
 15  country            3120 non-null   object
 16  budget             3004 non-null   float64
 17  gross              3114 non-null   float64
 18  company            3120 non-null   object
 19  runtime            3119 non-null   float64
dtypes: float64(5), int64(4), object(11)
memory usage: 512.0+ KB

In [105]:
Merged_Movie_df.nunique()

Release Date         1862
Movie Title          2923
Production Budget     244
Domestic Gross       2959
Worldwide Gross      2961
name                 2923
rating                  8
genre                  14
year                   41
released             1732
score                  69
votes                 633
director             1287
writer               1933
star                 1031
country                36
budget                241
gross                3033
company               735
runtime               124
dtype: int64

In [111]:


from google.colab import files
Merged_Movie_df.to_csv('Merged_Movie.csv') 
files.download('Merged_Movie.csv')

In [116]:



Merged_Movie_df = Merged_Movie_df.drop_duplicates(subset=['Movie Title', 'name'], keep='last')

In [117]:
Merged_Movie_df.head()

  Release Date              Movie Title  ...         company  runtime
0    4/23/2019        Avengers: Endgame  ...  Marvel Studios    181.0
1    4/22/2015  Avengers: Age of Ultron  ...  Marvel Studios    141.0
2    4/25/2018   Avengers: Infinity War  ...  Marvel Studios    149.0
3   11/13/2017           Justice League  ...    Warner Bros.    120.0
4    10/6/2015                  Spectre  ...             B24    148.0

[5 rows x 20 columns]

In [118]:
Merged_Movie_df.value_counts

<bound method DataFrame.value_counts of      Release Date              Movie Title  ...                    company  runtime
0       4/23/2019        Avengers: Endgame  ...             Marvel Studios    181.0
1       4/22/2015  Avengers: Age of Ultron  ...             Marvel Studios    141.0
2       4/25/2018   Avengers: Infinity War  ...             Marvel Studios    149.0
3      11/13/2017           Justice League  ...               Warner Bros.    120.0
4       10/6/2015                  Spectre  ...                        B24    148.0
...           ...                      ...  ...                        ...      ...
3116    1/12/2000              Next Friday  ...            New Line Cinema     98.0
3117    6/10/1988          Poltergeist III  ...  Metro-Goldwyn-Mayer (MGM)     98.0
3118   12/21/2016                   Dangal  ...     Aamir Khan Productions    161.0
3119    3/19/2010             The Runaways  ...   River Road Entertainment    106.0
3120   10/30/2009        Gentlemen Broncos  ...         Bronco Productions     90.0

[2923 rows x 20 columns]>

In [119]:
from google.colab import files
Merged_Movie_df.to_csv('Merged_Movie.csv') 
files.download('Merged_Movie.csv')

In [120]:
Merged_Movie_df.columns

Index(['Release Date', 'Movie Title', 'Production Budget', 'Domestic Gross',
       'Worldwide Gross', 'name', 'rating', 'genre', 'year', 'released',
       'score', 'votes', 'director', 'writer', 'star', 'country', 'budget',
       'gross', 'company', 'runtime'],
      dtype='object')

In [122]:
Merged_Movie_df.nunique()

Release Date         1841
Movie Title          2923
Production Budget     238
Domestic Gross       2914
Worldwide Gross      2915
name                 2923
rating                  7
genre                  14
year                   41
released             1667
score                  69
votes                 613
director             1243
writer               1864
star                  975
country                34
budget                233
gross                2919
company               693
runtime               123
dtype: int64

In [123]:
Merged_Movie_df.dtypes

Release Date          object
Movie Title           object
Production Budget      int64
Domestic Gross         int64
Worldwide Gross        int64
name                  object
rating                object
genre                 object
year                   int64
released              object
score                float64
votes                float64
director              object
writer                object
star                  object
country               object
budget               float64
gross                float64
company               object
runtime              float64
dtype: object

In [125]:
# Check for null values
for column in Merged_Movie_df.columns:
    print(f"Column {column} has {Merged_Movie_df[column].isnull().sum()} null values")

Column Release Date has 0 null values
Column Movie Title has 0 null values
Column Production Budget has 0 null values
Column Domestic Gross has 0 null values
Column Worldwide Gross has 0 null values
Column name has 0 null values
Column rating has 4 null values
Column genre has 0 null values
Column year has 0 null values
Column released has 1 null values
Column score has 0 null values
Column votes has 0 null values
Column director has 0 null values
Column writer has 0 null values
Column star has 0 null values
Column country has 1 null values
Column budget has 70 null values
Column gross has 4 null values
Column company has 1 null values
Column runtime has 2 null values

In [129]:
# Drop Null Rows

Merged_Movie_df = Merged_Movie_df.dropna()

In [130]:
# Check for null values
for column in Merged_Movie_df.columns:
    print(f"Column {column} has {Merged_Movie_df[column].isnull().sum()} null values")

Column Release Date has 0 null values
Column Movie Title has 0 null values
Column Production Budget has 0 null values
Column Domestic Gross has 0 null values
Column Worldwide Gross has 0 null values
Column name has 0 null values
Column rating has 0 null values
Column genre has 0 null values
Column year has 0 null values
Column released has 0 null values
Column score has 0 null values
Column votes has 0 null values
Column director has 0 null values
Column writer has 0 null values
Column star has 0 null values
Column country has 0 null values
Column budget has 0 null values
Column gross has 0 null values
Column company has 0 null values
Column runtime has 0 null values

In [ ]:
# Drop the non-beneficial columns.
# Movies_df = Merged_Movie_df.drop(['Release Date','name','rating','genre','year', 'released','director','writer','star'], axis=1)


# Movies_df.head()

In [ ]:
Movies_df.dtypes

In [ ]:
# Select all of the columns with a object dtype
Movies_df.select_dtypes(include = 'object')